<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курс по Vue3</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="container pt-5">
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <input 
                    type="text" 
                    :placeholder="inputPlaceholder" 
                    :value="inputValue"
                    @input="inputChangeHandler"
                    @keypress.enter="addNote"
                    />
            </div>
            <button class="btn" @click="addNote">Добавить</button>
            <hr>
            <ul class="list" v-if="notes.length !== 0">
                <li class="list-item" v-for="(note, index) in notes">
                    {{note.toUpperCase()}}
                    <button class="btn danger" @click="removeNote(index)">Удалить</button>
                </li>
                <hr>
                <li>
                    <b>Всего заметок: {{notes.length}}</b> | Удвоенно: {{doubleCountComputed}}
                </li>
            </ul>
            <div v-else>Заметок нет!</div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@^3.4.0"></script>
    <script src="app.js"></script>
</body>
</html>